
	<footer class="page-row">
	<div class="follow">
		<p>FOLLOW US:</p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="newsletter">
					<h4>{{labels[locale].newsletter}}</h4>
					<input type="text" placeholder="{{labels[locale].email}}" />
					<i class="fa fa-mail-forward"></i>
				</div>
			</div>
			<div class="col-md-3">
				<h4>Information</h4>
				<ul class="footer-list">
					<li>
						<a>New products</a>
					</li>
					<li>
						<a>Top sellers</a>
					</li>
					<li>
						<a>Top sellers</a>
					</li>
					<li>
						<a>Promotions</a>
					</li>
					<li>
						<a>About us</a>
					</li>
					<li>
						<a>Contact us</a>
					</li>
				</ul>
			</div>
			<div class="col-md-2">
				<h4>My account</h4>
				<ul class="footer-list">
					<li>
						<a>My orders</a>
					</li>
					<li>
						<a>My personal info</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4>Store Information</h4>
				<ul class="footer-list">
					<li>
						<a>My Company, 4578 Marmora Road, Glasgow D04 89GR</a>
					</li>
					<li>
						<a>
							<i class="fa fa-phone"></i>
							<span>1-800-234-5678</span>
						</a>
					</li>
					<li>
						<a>
							<i class="fa fa-envelope"></i>
							<span>info@example.org</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<p class="copyright">Copyright &copy; Company 2014</p>
	</footer>
	<script src="/javascripts/jquery-1.11.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!--<script src="/javascripts/jquery.ui.autocomplete.html.js"></script> -->
	<script src="/javascripts/bootstrap.min.js"></script>

	<script src="/javascripts/angular.js"></script>
	<script src="/javascripts/angular-route.js"></script>
	<script src="/javascripts/requestAnimationFrame.js"></script>
	
	<script src="/javascripts/require.js"></script>
	<script src="/javascripts/main.js"></script>
</body>

</html>