<div ng-if="loading">
    <img src="/images/ajax-loader.gif" />
</div>
<div ng-if="!user && !loading">
    Sorry, but there is no user in your session.Please go to login and sign in again.
</div>
<div ng-if="user && !loading">
    {{user}}
</div>