
<div class="container">
    <div class="form-skin">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <!-- begin register -->
        <div id="signupbox" class="single-form">
            <div class="form-header-holder">
                <h1 class="form-header">{{labels[locale].signup}}</h1>
            </div>
            <div class="form-content" >
                <form id="signupform" class="form-horizontal" role="form">

                    <div id="signupalert" ng-if="signupError" class="alert alert-danger">
                        <p>{{signupError}}</p>
                        <span></span>
                    </div>
                    <label for="firstname" class="form-icon"><i class="glyphicon glyphicon-user"></i></label>
                    <input type="text" id="firstname" class="form-control" ng-model="user.firstname" placeholder="{{labels[locale].firstname}}">

                    <label for="lastname" class="form-icon"><i class="glyphicon glyphicon-user"></i></label>
                    <input type="text" id="lastname" class="form-control" ng-model="user.lastname" placeholder="{{labels[locale].lastname}}">

                    <label for="email" class="form-icon"><i class="glyphicon glyphicon-envelope"></i></label>
                    <input type="text" id="email" class="form-control" ng-model="user.username" placeholder="{{labels[locale].email}}">


                    <label for="password" class="form-icon"><i class="glyphicon glyphicon-lock"></i></label>
                    <input type="password" id="password" class="form-control" ng-model="user.password" placeholder="{{labels[locale].password}}">

                    <!-- Button -->
                    <button id="btn-signup" ng-click="signup()" type="button" class="btn btn-form">
                        {{labels[locale].signup}}
                    </button>
                </form>
            </div>
        </div>
        <!-- end register -->
    </div>
</div>

