
<div ng-if="shoppingcart.items"  class="container">
    <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th style="width:50%">{{labels[locale].product}}</th>
            <th style="width:10%">{{labels[locale].price}}</th>
            <th style="width:8%">{{labels[locale].quantity}}</th>
            <th style="width:22%" class="text-center">{{labels[locale].subtotal}}</th>
            <th style="width:10%">
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in shoppingcart.items">
            <td data-th="Product">
                <div class="row">
                    <div class="col-sm-2 hidden-xs">
                        <a ng-href="#/product/{{product._id}}">
                            <img ng-src="{{product.image[0].url}}" alt="..." class="img-responsive"/>
                        </a>
                    </div>
                    <div class="col-sm-10">
                        <h4 class="nomargin">{{product.name}}</h4>
                        <p>
                           {{product.description}}
                        </p>
                    </div>
                </div>
            </td>
            <td data-th="Price">{{product.price}}</td>
            <td data-th="Quantity" class="form-group">
                <input ng-model="product.qty" ng-change="calculateGrandTotal(); showRefreshButton();" type="number" min="1" max="99" class="form-control text-center"/>
                <span class="has-error" ng-if="!product.qty">Please enter valid quantity</span>
            </td>
            <td data-th="Subtotal" class="text-center">{{(product.qty * product.price) | number}}</td>
            <td class="actions" data-th="">

                <button ng-click="removeProduct(product._id);" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td><a href="#/" class="btn btn-warning"><i class="fa fa-angle-left"></i> {{labels[locale].continueshopping}}</a></td>
            <td colspan="2" class="hidden-xs"></td>
            <td class="hidden-xs text-center"><strong ng-if="grandTotal != 'NaN'">Total {{grandTotal}}</strong></td>
            <td>
                <a ng-if="grandTotal != 'NaN' && !refreshButton" ng-href="#/checkout" class="btn btn-success btn-block">
                    {{labels[locale].checkout}} <i class="fa fa-angle-right"></i>
                </a>
                <button ng-click="refresh()" ng-if="grandTotal != 'NaN' && refreshButton" class="btn btn-info btn-sm">
                    <i class="fa fa-refresh"></i>
                </button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<div ng-if="!shoppingcart.items" class="container">
    <h2> {{labels[locale].emptycart}} </h2>
    <a href="#/" class="btn btn-warning">
        <i class="fa fa-angle-left"></i> {{labels[locale].continueshopping}}
    </a>
</div>

