/* header */
body {
  padding-top: 100px; }

a:hover {
  text-decoration: none; }

.navbar-inverse {
  min-height: 80px;
  background-color: rgba(237, 237, 237, 0.8);
  border: none; }
  .navbar-inverse .language a {
    color: black;
    cursor: pointer; }
    .navbar-inverse .language a.active {
      color: #b39246; }
  .navbar-inverse .nav-btn {
    border-bottom: 1px solid #b39246;
    color: #00A4E4;
    display: block;
    margin-top: 5px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase; }
    .navbar-inverse .nav-btn:hover {
      color: #b39246; }
    .navbar-inverse .nav-btn:hover, .navbar-inverse .nav-btn:focus {
      text-decoration: none; }
  .navbar-inverse .last {
    border-bottom: none; }
  .navbar-inverse .btn-logout, .navbar-inverse .btn-profile {
    width: 28px;
    height: 28px;
    background: url("/images/logout-icon.png") no-repeat;
    background-size: 100% 100%;
    min-width: 28px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .navbar-inverse .btn-profile {
    background: url("/images/icon-user.png") no-repeat;
    background-size: 100% 100%; }
  .navbar-inverse.active {
    background-color: #e4e4e5; }
  .navbar-inverse #logo-holder {
    margin: 0 20px;
    width: 122px;
    height: 80px;
    float: left;
    cursor: pointer; }
    .navbar-inverse #logo-holder img {
      max-width: 100%;
      height: 90px;
      padding: 10px 0;
      margin: 0 auto; }
    .navbar-inverse #logo-holder:hover img {
      height: 90px;
      padding: 5px 0; }
  .navbar-inverse #general-search {
    -webkit-transition: background 0.2s ease 0s;
    transition: background 0.2s ease 0s;
    width: 50%;
    height: 80px;
    border: none;
    padding: 15px 15px;
    font-size: 20px;
    letter-spacing: .1em;
    background: transparent;
    float: left; }
    .navbar-inverse #general-search:focus {
      background: rgba(252, 252, 253, 0.9);
      outline: 0; }
  .navbar-inverse label {
    font-size: 20px;
    line-height: 80px;
    float: left;
    padding-left: 10px;
    padding-right: 15px;
    width: 35px;
    margin-bottom: 0; }
    .navbar-inverse label:hover {
      font-size: 25px; }
  .navbar-inverse .sing-in-and-cart {
    float: right;
    display: table; }
    .navbar-inverse .sing-in-and-cart div {
      display: table-cell;
      vertical-align: middle; }
  .navbar-inverse .cart-img-nav {
    margin-top: 12px;
    margin-left: 15px; }
    .navbar-inverse .cart-img-nav img {
      width: 60px;
      margin-top: 12px; }

.menu-triger-holder {
  float: left;
  position: absolute;
  left: 0;
  top: 0; }

.btn-main-menu {
  display: block;
  background: #00A4E4;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 80px; }
  .btn-main-menu span {
    -webkit-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
    display: block;
    position: absolute;
    width: 40px;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -20px;
    background: #fff; }
    .btn-main-menu span:before, .btn-main-menu span:after {
      -webkit-transition: all 0.2s ease 0s;
      transition: all 0.2s ease 0s;
      position: absolute;
      content: '';
      width: 40px;
      height: 2px;
      background: #fff;
      left: 0; }
    .btn-main-menu span:before {
      bottom: -6px; }
    .btn-main-menu span:after {
      top: -6px; }
  .btn-main-menu:hover > span:before {
    bottom: -8px; }
  .btn-main-menu:hover > span:after {
    top: -8px; }
  .btn-main-menu.active > span {
    background: transparent; }
    .btn-main-menu.active > span:before {
      bottom: 0;
      transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center; }
    .btn-main-menu.active > span:after {
      top: 0;
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center; }

.main-menu-container {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  right: -17px; }

.menu-outer-wrapper {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: -320px;
  width: 320px;
  z-index: 150;
  background: #3a3844;
  color: #fff;
  height: 100%;
  height: -webkit-calc(100% - 80px);
  height: calc(100% - 80px); }
  .menu-outer-wrapper .category-link {
    padding: 0 30px;
    color: #b8b8b8; }
    .menu-outer-wrapper .category-link:hover, .menu-outer-wrapper .category-link:focus {
      color: #fff;
      text-decoration: none; }
  .menu-outer-wrapper .menu-category a {
    color: #fff; }
  .menu-outer-wrapper .menu-category {
    background: #00A4E4;
    font-family: 'Playball', cursive;
    min-height: 50px;
    line-height: 50px;
    font-size: 20px; }
    .menu-outer-wrapper .menu-category i {
      float: right;
      margin-right: 15px;
      font-size: 15px;
      line-height: 50px; }
    .menu-outer-wrapper .menu-category:hover i {
      font-size: 20px;
      margin-right: 18px; }
  .menu-outer-wrapper .menu-subcategory {
    display: none; }
    .menu-outer-wrapper .menu-subcategory li {
      padding-top: 10px;
      padding-bottom: 10px; }

.overlay-blur {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  background: rgba(62, 61, 70, 0.7); }
  .overlay-blur.active {
    display: block;
    opacity: 1; }

/* homepage product list */
.thumbnail {
  background: url("../images/product-bg.gif") repeat; }

.thumbnail .caption h4, .thumbnail .caption h4 a, .ratings {
  color: #b39246; }

.btn-buy {
  background: none;
  color: #b39246;
  font-size: 18px;
  padding: 6px 20px;
  border: 1px solid #d1b472; }

.thumbnail:hover .btn-buy {
  background: #b39246;
  color: #fff; }

/* home carousel */
#main-carousel {
  margin-bottom: 50px; }
  #main-carousel.carousel-holder {
    border: 1px solid #ededed;
    border-radius: 5px; }

.carousel-caption {
  background: url("../images/carousel-info-bg.png") no-repeat;
  width: 367px;
  height: 370px;
  bottom: 45px;
  left: 10%;
  right: 15%;
  display: table; }

.carousel-caption div {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: #0f3065; }

.carousel-control .glyphicon-chevron-left, .carousel-control #latest-producs-slider .glyphicon-chevron-right, #latest-producs-slider .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev {
  margin-left: -55px; }

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  margin-right: -55px; }

.carousel-indicators li {
  border: 1px solid #425da9; }

/* pagination */
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background: #b39246;
  border-color: #b39246; }

.pagination > li > a, .pagination > li > span, .pagination > li > a:hover, .pagination > li > span:hover {
  color: #b39246; }

/* footer */
.copyright {
  text-align: center; }

.carousel-control.left, .carousel-control.right {
  width: 0; }

.carousel-control.left span, .carousel-control.right span {
  margin-left: 0;
  margin-right: 0; }

/* home producs */
#latest-producs-slider {
  background: url("/images/section-bg.png") repeat;
  padding: 80px 0 50px 0; }
  #latest-producs-slider .btn-buy:hover {
    color: #fff;
    background: #b39246; }
  #latest-producs-slider .carousel-control.left span {
    margin-left: -23px; }
  #latest-producs-slider .carousel-control.right span {
    margin-right: -23px; }

#latest-producs-slider {
  border: none; }
  #latest-producs-slider .glyphicon-chevron-left, #latest-producs-slider .glyphicon-chevron-right {
    width: 23px;
    height: 40px;
    background: url("/images/nav-left.png");
    background-size: 100% 100%; }
    #latest-producs-slider .glyphicon-chevron-left:before, #latest-producs-slider .glyphicon-chevron-right:before {
      content: ''; }
  #latest-producs-slider .glyphicon-chevron-right {
    background: url("/images/nav-right.png"); }

.home-products {
  position: relative;
  width: 18%;
  margin-right: 2.5%;
  float: left;
  background: #fff;
  margin-bottom: 30px;
  -webkit-box-shadow: 4px 5px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 4px 5px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 5px 15px 0px rgba(0, 0, 0, 0.15); }
  .home-products .btn-view-product {
    display: none;
    position: absolute;
    top: 100px;
    left: 52px;
    z-index: 51;
    background: #b39246;
    color: #fff;
    border-radius: 0;
    border: 1px solid #fff;
    padding: 15px 20px;
    font-size: 17px; }
    .home-products .btn-view-product:focus {
      outline: none; }
  .home-products:hover .btn-view-product {
    display: block; }
  .home-products .btn-view-product:hover {
    background: #a4853f; }
  .home-products .product-descr-holder {
    position: relative;
    height: 174px; }
  .home-products .product-description-invert {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #b39246;
    display: none; }
    .home-products .product-description-invert .product-name a {
      color: #fff; }
    .home-products .product-description-invert .btn-buy {
      background: #fff; }
      .home-products .product-description-invert .btn-buy:hover {
        background: #fff !important;
        color: #b39246 !important;
        opacity: 0.6; }
    .home-products .product-description-invert .product-price {
      color: #fff; }

.home-products:last-child {
  margin: 0; }

#latest-producs-slider .carousel-indicators {
  display: none; }

.home-products .product-name {
  text-transform: uppercase;
  padding-top: 20px;
  margin: 0 0 5px 0; }
  .home-products .product-name a {
    color: #b39246; }
    .home-products .product-name a:focus {
      text-decoration: none; }

.home-products .product-description {
  font-style: italic; }

.home-products .product-img {
  border-bottom: 4px solid #d6d3cc; }

.product-price {
  color: #00A4E4;
  font-family: 'Playball', cursive;
  font-weight: bold; }

/* right pannel */
#categories-main-title {
  background: #00A4E4;
  color: #fff;
  font-size: 20px;
  padding: 23px 10px 26px 25px; }

.panel-default > .panel-heading {
  padding: 17px 30px 19px 23px; }
  .panel-default > .panel-heading a:hover, .panel-default > .panel-heading a:focus {
    text-decoration: none; }

.panel-default:nth-child(even) > .panel-heading, .panel-default:nth-child(even) > .panel-subheading {
  background: #f8f8f8; }

.panel-default:nth-child(odd) > .panel-heading, .panel-default:nth-child(odd) > .panel-subheading {
  background: #f1f1f1; }

.panel-subheading {
  padding: 12px 30px 14px 23px; }

.panel-heading, .panel-group .panel {
  border-radius: 0;
  border: none; }

.panel-group .panel + .panel {
  margin: 0; }

.panel-group .panel-heading + .panel-collapse > .panel-body {
  border: none; }

.cart-circle {
  width: 32px;
  height: 32px;
  background: #00A4E4;
  border-radius: 32px;
  color: #fff;
  text-align: center;
  padding-top: 6px;
  position: absolute;
  top: -7px;
  left: 21px; }

/* footer */
footer {
  background: #f9f9f8; }
  footer .footer-list {
    list-style: none; }
    footer .footer-list a {
      color: #959393; }
      footer .footer-list a:hover {
        color: #3a3a3a; }
  footer .copyright {
    padding: 20px; }

h4 {
  color: #00A4E4;
  text-transform: uppercase; }

.follow {
  min-height: 80px;
  font-size: 20px;
  line-height: 80px;
  background: #f4f4f5;
  color: #00A4E4;
  text-align: center; }

.newsletter input {
  height: 80px;
  padding: 20px; }
.newsletter i {
  margin-left: -30px; }

/* shopping cart */
#cart .btn-remove {
  background: transparent; }
  #cart .btn-remove:hover {
    background: #ccc; }
#cart tfoot {
  min-height: 180px;
  vertical-align: middle; }
  #cart tfoot .btn {
    border: 1px solid #fff;
    background: #b39246;
    color: #fff; }
    #cart tfoot .btn:hover {
      opacity: 0.9; }

#cart-empty {
  padding-bottom: 40px;
  text-align: center; }
  #cart-empty h3 {
    color: #00A4E4; }
  #cart-empty .btn {
    border: 1px solid #fff;
    background: #b39246;
    color: #fff; }
    #cart-empty .btn:hover {
      opacity: 0.9; }

/* ng specific */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important; }

ng\:form {
  display: block; }

html,
body {
  height: 100%; }

body {
  display: table;
  width: 100%; }

.page-row {
  display: table-row;
  height: 1px; }

.page-row-expanded {
  height: 100%; }

/* quick view product */
.view-product-dialog .modal-dialog {
  width: 800px;
  border: 5px solid #ddd;
  border-radius: 5px; }
  .view-product-dialog .modal-dialog .modal-content {
    border: 0;
    border-radius: 0; }

.view-product-dialog .quick-view-product {
  padding: 20px; }
.view-product-dialog .main-img {
  border: 1px solid #dfdfdf;
  width: 100%; }
.view-product-dialog .small-img {
  width: 33%;
  float: left;
  padding: 5px 5px 5px 0; }
  .view-product-dialog .small-img img {
    border: 1px solid transparent; }
  .view-product-dialog .small-img img:hover {
    border: 1px solid #dfdfdf;
    cursor: pointer; }
.view-product-dialog .nav-tabs > li.active > a, .view-product-dialog .nav-tabs > li.active > a:hover, .view-product-dialog .nav-tabs > li.active > a:focus,
.view-product-dialog .nav-tabs > li > a {
  color: #000;
  border: none;
  border-radius: 0; }
.view-product-dialog .nav-tabs > li.active > a, .view-product-dialog .nav-tabs > li.active > a:hover, .view-product-dialog .nav-tabs > li.active > a:focus {
  background: #f8f8f8;
  border-bottom: 5px solid #cdcdcd;
  border-right: 1px solid #d6d6d6; }
.view-product-dialog .nav-tabs > li:hover a {
  border-bottom: 5px solid #cdcdcd; }
.view-product-dialog .nav-tabs > li > a {
  border-right: 1px solid #d6d6d6;
  margin-right: 0; }

/*# sourceMappingURL=style.css.map */
